body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc-container {
    border: 2px solid black;
    border-radius: 25px;
    padding: 15px;
    display: flex;
    flex-flow: row wrap;
    background-color: rgb(64, 77, 89)
}

.display {
    border: 1px solid black;
    border-radius: 15px;
    margin: 10px;
    background-color: aliceblue;
    padding: 10px;
}

.display.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

button {
    aspect-ratio: 2/1;
    margin: 2px;
    background-color: rgb(125, 130, 135);
    border-radius: 5px;
    padding: 10px;
}

button.ops {
    background-color: rgb(178, 116, 2);
}

button.opsa {
    background-color:rgb(169, 175, 182)
}